<div class="container">

    <a class="icon" href="/starter_packs"><img src="https://cdn.discordapp.com/attachments/1210360796194799677/1210360952474574898/starterpackexe.png?ex=65ea477a&is=65d7d27a&hm=f7a013ab0d6664329a767d519d4849f530b6d980cc8239d723b109e50eb8e6f5&" alt="" width="100px"></a>
    <a class="icon2" href="./#window2"><img src="https://cdn.discordapp.com/attachments/1210360796194799677/1210361119835955361/adminexe.png?ex=65ea47a2&is=65d7d2a2&hm=31b5344bccbad08fb23d5d190549b86a22e6e203b406b5f6b1d6d089941788dd&" alt="" width="100px"></a>

    <div id="window2" class="modal2">
        <div class="modal2_content">
                <img src="https://imgbox.com/T8MHSahP" alt="" width="400">
                
                <a href="#" class="modal2_close">&times;</a>
                
        </div>
    </div>
</div>
