<div class="container">
  <div class="blocnote">
    <div class="textform">
      <h1>Update starterpack</h1>
      <p>Modifie les informations d'un starterpack !</p>
      <ul class="link">
        <li>➜ <b>starterpack</b> request:(admin) <a href="/#">/return index</a></li>
        <li>➜ <b>starterpack</b> request:(admin) <%= link_to "/show this starter pack", @starter_pack %></li>
        <li>➜ <b>starterpack</b> request:(admin) <%= link_to "/return starterpacks", starter_packs_path %></li>
      </ul>
    </div>

    <%= render "form", starter_pack: @starter_pack %>
  </div>
</div>
