<div class="container">
  <div class="blocnote">
    <div class="textform">
      <h1>New starter pack</h1>
      <p> Remplis ce formulaire avec du texte et des liens vers les images de ton choix !</p>
      <ul class="link">
        <li>âœ <b>starterpack</b> request:(admin) <a href="/#">/return index</a></li>
        <li>âœ <b>starterpack</b> request:(admin) <a href="/#">/return starter packs</a></li>
      </ul>
    </div>

    <%= render "form", starter_pack: @starter_pack %>
  </div>
</div>