/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* PAGE INDEX */ 
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* CURSOR*/


/* page choisir sa catégorie de starterpack (page2) */
.container {
   position:absolute;
   background-image: url("https://cdn.discordapp.com/attachments/1210360796194799677/1210364082176135229/windowsxp.png?ex=65ea4a64&is=65d7d564&hm=83f400e8a8dcff549f19592c91329bb0c3011599d41fc66bbd5028249560f281&");
   background-repeat: no-repeat;
   background-size: cover;
   height: 100%;
   width:100%;
   margin-left: -8px;
   margin-top: -8px;
}

/* button {
position: absolute;
right:15px;
top:15px;
width:50px;
height: 50px;
opacity: 0;
cursor:grab;
}*/

/* page home (page1) */

body {

   background-image: url("windowsxp.png");
   background-repeat: no-repeat;
   background-size: cover;
   cursor: url("https://i.pinimg.com/originals/9b/cc/e9/9bcce95527358ea58124e9a03c905fbe.png") 13 7, auto !important;
}
   
a {
   cursor: url("https://images.vexels.com/media/users/3/158105/isolated/lists/22becce14efa74bc6c83bec78f9d9b1e-pixel-hand-cursor-icon.png") 64 12, auto !important; 
}

.mainalert {

   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   position:relative;
}

.window {
   
}

.openstarterpack {

   position:absolute;
   right: 550px;
   height: 2px;
   width:70px;
   top:430px;
   opacity: 0;
   z-index: 2;
   background-color: red;

}

.log {

   position:absolute;
   right: 300px;
   height: 40px;
   width:150px;
   top:410px;
   opacity: 0;
   z-index: 2;

}

button:hover {

}

a {
   text-decoration: none;
   padding: 15px;
   border-radius: 5px;
   text-transform: uppercase;
   color: black;
}

.modal {
   visibility:hidden;
   opacity: 0;
   position: absolute;
   top: 0; right: 0;
   bottom: 0; left: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: all .1s;
}

.modal:target {
   visibility: visible;
   opacity: 1;
}

.modal_content {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   position: relative;

   padding: 1.5em 2em;
}

.modal_close {
   position: absolute;
   top: 260px;
   right: 50px;
   text-decoration: none;
   height: 20px;
   opacity: 0;
}

.icon {

   position: absolute;
   top: 20px;
   left:20px;
}

.icon2 {

   position: absolute;
   top: 150px;
   left:20px;

}

.modal2 {
   visibility: hidden;
   opacity: 0;
   position: absolute;
   top: 0; right: 0;
   bottom: 0; left: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: all .1s;
}

.modal2:target {
   visibility: visible;
   opacity: 1;
}

.modal2_content {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   position:relative;

   padding: 1.5em 2em;
}

.modal2_close {
   position: absolute;
   top: 260px;
   right: 50px;
   text-decoration: none;
   height: 20px;
   opacity: 0;
}

/* PAGE CREER NEW */ 

/*bouton retour */
.blocnote ul a {
   color: purple;
}

.blocnote ul a:hover {
   color: grey;
}

.container .blocnote ul {
   display: flex;
   flex-direction: column;
   gap: 0.5em;
   font-family: "VT323", monospace;
   font-size: 15px;
   list-style-type: none;
}

/* fond page create/modify */ 
.blocnote {
   position:absolute;
   background-repeat: no-repeat;
   background-size: contain;
   width:50%;
   height: 90%;
   margin-left: 25%;
   margin-top: 2em;
   background-image: url('https://cdn.discordapp.com/attachments/1210360796194799677/1210525410518106122/bloc.png?ex=65eae0a4&is=65d86ba4&hm=59bef6e6501a6a2db638af418aa40c0382998dee65a902b9ed2682dd773e4c80&');
}

/* formulaire create !*/
.formulaire {
   display: flex;
   margin-left: 5em;
   margin-top: -2em;
}

.create {
   margin-left: -6em;
}

.col-1 {
   padding: 10px;
}

.col-2 {
   padding: 10px;
}

/*text create */
.textform{
   width: 600px;
   margin-left: 1.5em;
   margin-top: 3em;
   font-family: "VT323", monospace;
   font-size: 18px;
}


.textform p{
   margin-top: -25px;
}

.case {
   font-family: "VT323", monospace;
   font-size: 20px;
   margin:10px;
}

.case textarea {
   line-height: 1;
   border: 2px solid black;
}

.case input {
   line-height: 1;
   border: 2px solid black;
}
   
.create input{
   font-family: "VT323", monospace;
   font-size: 20px;
   background-color: white;
   border: 2px solid black;
   padding: 5px;
   padding-inline: 10px;

}

.create input:hover {
   border: 2.5px solid black;
   cursor:cell;
   box-shadow: 10px 6px grey;
}
   
.closebutton{
   right:19.9em;
   top:2.1em;
}

.navigation {
   bottom:8em;
   left:34em;
   font-family: "VT323", monospace;
}

.navigation a{
   color: purple;
}

.navigation a:hover{
   color: grey;
}